
@{
    ViewData["Title"] = "Dependencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Datos de la Dependencia Policial</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtRazonSocial">Nombre de la Dependencia Policial</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtRazonSocial" name="RazonSocial">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtCorreo">Correo</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtCorreo" name="Correo">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtDireccion">Dirección</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtDireccion" name="Direccion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtTelefono">Teléfono</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtTelefono" name="Telefono">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-success btn-sm mt-4" type="button" id="btnGuardarCambios">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/vfs_fonts.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <!-- SweetAlert -->
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script>

    <!-- JAVA SCRIPT -->
    <!-- Uso del archivo Usuario_Index.js de wwwroot ->js->vistas -->
    <script src="~/js/vistas/DependenciaPol_Index.js"></script>

}