
@{
    ViewData["Title"] = "Chaleco";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA (css)
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Chalecos</h6>
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevoChaleco"><i class="fas fa-user-plus"></i> Nuevo Chaleco</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="tbdataChalecos" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>N°</th> <!-- Enumeración -->
                        <th>N° de Serie</th>
                        <th>Marca y Modelo</th>
                        <th>Talle</th>                      
                        <th>Asignado:</th>
                        <th>Grado</th>
                        <th>N° Legajo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalChaleco" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h6>Detalles del Chaleco a Registrar</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <form id="formChaleco">
                    <input type="hidden" value="0" id="txtIdChaleco">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtSerie">N° de Serie</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNumeroSerie" name="N° de Serie">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtMarcaModelo">Marca y Modelo</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtMarcayModelo" name="Marca y Modelo">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="cboTalle">Talle</label>
                                    <select class="form-control form-control-sm input-validar" id="cboTalle" name="Talle">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                        <option value="XXL">XXL</option>
                                        <option value="XXXL">XXXL</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtAnoFab">Año Fabricación</label>
                                    <input type="date" class="form-control form-control-sm input-validar" id="txtAnoFabricacion" name="Año de Fabricación">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtAnoVenc">Año Vencimiento</label>
                                    <input type="date" class="form-control form-control-sm input-validar" id="txtAnoVencimiento" name="Año de Vencimiento">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="cboEstado">Estado</label>
                                    <select class="form-control form-control-sm input-validar" id="cboEstado">
                                        <option value="Operativo">Operativo</option>
                                        <option value="Fuera de Servicio">Fuera de Servicio</option>
                                        <option value="Secuestrado">Secuestrado</option>
                                        <option value="Extraviado">Extraviado</option>
                                        <option value="Comisionado">Comisionado</option>
                                        <option value="Otro">Otro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-12">
                                    <label for="txtObservaciones">Observaciones</label>
                                    <textarea class="form-control form-control-sm" id="txtObservaciones" name="Observaciones" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" type="button" id="btnGuardarChaleco">Guardar</button>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Cancelar</button>
            </div>

        </div>
    </div>
</div>

<!-- Modal Asignar Chaleco a Personal -->
<div class="modal fade" id="modalAsignar" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header bg-second-primary text-white">
                <h6 class="m-0 font-weight-bold">Seleccionar Personal para Asignar Chaleco</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">×</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tbPersonalModal" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th>N°</th> <!-- Enumeración -->
                                <th>Legajo</th>
                                <th>Apellido y Nombre</th>
                                <th>Grado</th>
                                <th>Seleccionar</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>

    <script src="~/vendor/datatables/extensiones/js/pdfmake.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/vfs_fonts.js"></script>

    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

    <!-- SweetAlert -->
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script>

    <!-- JAVA SCRIPT -->
    <!-- Uso del archivo Usuario_Index.js de wwwroot ->js->vistas -->
    <script src="~/js/vistas/Chaleco_Index.js"></script>

}



